@{
    Layout = "~/Views/Shared/_LayoutDepartment.cshtml";
}
<div class="container">
    <div id="content">
        <h3>Добро пожаловать!</h3>
        <p>Выберите один из разделов в меню, чтобы приступить к работе.</p>
    </div>
</div>
