@{
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}
<div class="container">
    <div id="content">
        <h3>Добро пожаловать, преподаватель!</h3>
        <p>Выберите один из разделов в меню, чтобы приступить к работе.</p>
    </div>
</div>