@{
	Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}
<div class="container">
	<div id="content">
		<h3>Добро пожаловать, студент!</h3>
		<p>Выберите один из разделов выше, чтобы просмотреть необходимую информацию.</p>
	</div>
</div>
