@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Личный кабинет в организации</h2>
            <p class="card-text">Добро пожаловать в ваш личный кабинет. Здесь вы можете просматривать свою информацию, редактировать профиль и больше узнать о возможностях.</p>
            <h4 class="mb-4">Ваши данные:</h4>
            <div class="users-list">
                <!-- Пример карточки пользователя -->
                <div class="user-card">
                    <div class="user-header">
                        <img src="https://via.placeholder.com/80" alt="User Avatar" class="student-avatar">
                        <div class="account-info">
                            <h4 class="student-name">Иван Иванов</h4>
                            <p class="student-email">ivan.ivanov@academia.com</p>
                        </div>
                    </div>
                    <div class="account-details">
                        <h5>Личные данные</h5>
                        <p><strong>Дата рождения:</strong> 12.03.2000</p>
                        <p><strong>Телефон:</strong> +7 999 123 45 67</p>
                    </div>
                    <div class="account-education">
                        <h5>Образование</h5>
                        <p><strong>Отделение:</strong> ДЭМ</p>
                        <p><strong>Группа:</strong> ДИ-25</p>
                        <p><strong>Специальность:</strong>09.02.07</p>
                    </div>
                    <div class="user-actions">
                        <a href="/assets/pages/account/edit-account.html" class="btn btn-primary">Редактировать профиль</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>